@{
    ViewData["Title"] = "Who I Am...";
}



<div class="text-center">
    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGA368Zw7yacw/profile-displayphoto-shrink_200_200/0?e=1583971200&v=beta&t=cllYy6lTcn8snfjTqllZEJpXIckFXqpopVYjtls0EKk" alt="Stock Photo" /><br />
    <h2>Jason Gardner</h2>
        <p1>
            Graduated from Eastern Michigan University in 2008<br />
            Bachelor's Degree, Majored in Written Communication<br />
            <br />Currently enrolled in C# .NET Bootcamp<br />Grand Circus in Detroit, MI<br />
            <br />Runner | Drummer | Gamer<br />
            <br /><a href="http://www.linkedin.com/in/jasonadamgardner">Find me on LinkedIn!</a>
                  <br />    <br />  <br />  <br />
        </p1>
</div>