@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hopefully you are eager to learn about my background and what I have been learning as a programmer!</p>
</div>
