
@{
    ViewData["Title"] = "Place";
}

    <div class="text-center">
        <h3>Learn about my whereabouts...</h3>
        
        <p>
            <b>Livonia, Michigan</b><br />My Hometown<br />
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/LivoniaMiCityHall.jpg/1024px-LivoniaMiCityHall.jpg"
             width="200" height="200" alt="My Hometown" /><br />
        <a href="https://en.wikipedia.org/wiki/Livonia,_Michigan">Learn About Livonia at Wikipedia</a><br />
        </p>

        <p>
            <b>Detroit, Michigan</b><br />Where I Go to School<br />
            <img src="http://benwashingtonandsons.com/images/detroit-michigan.jpg"
                 width="200" height="200" alt="Where I Go to School" /><br />
            <a href="https://en.wikipedia.org/wiki/Detroit">Learn About Detroit at Wikipedia</a>
        </p>

        <p>
            <b>The State of Michigan</b><br />My Home State<br />
            <img src="https://images-na.ssl-images-amazon.com/images/I/51k5OU3FE0L._AC_SX425_.jpg"
                 width="200" height="200" alt="My Home State" /><br />
            <a href="https://en.wikipedia.org/wiki/Michigan">Learn About Michigan at Wikipedia</a>
        </p>
        
    </div>

