@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Curious to learn?</h1>
    <p>Learn about <a href="https://github.com/Jason-Gardner">my background in coding via Github!</a><br />
    <br /><i>Currently working in:</i><br />
    <b>C#</b><br /><a href="https://github.com/Jason-Gardner/Classwork">Classwork Examples</a><br />
    <b>HTML</b><br /><a href="https://github.com/Jason-Gardner/SelfWebsite">Personal Website Project</a><br />
    <b>CSS</b><br />UNDER CONSTRUCTION<br />
    <b>SQL</b><br /><a href="https://github.com/Jason-Gardner/SQLPractice>">SQL Samples</a></p>
</div>
