@{
    ViewData["Title"] = "Portfolio";
}

<div class="text-center">
    <h1 class="display-4">Curious to learn?</h1>
    <p>Learn about <a href="https://github.com/jason-gardner">my background in coding via Github!</a>
    <br />Currently working in:<br />
    C#<br />
    HTML<br />
    CSS<br />
    SQL</p>
</div>
